*{
	box-shadow:inset 0 0 1px 0 black;
}
html{
	font-size: 6px;
}
body{
	margin:0;
	padding:0;
	display:flex;
	justify-content:center;
	position:relative;
	overflow:hidden;
	/* font-size: 10px; */
	scroll-behavior: smooth;
	position:relative;
}
.gui{
	font-size:12px;
	background-color:silver;

}
#right-menu{
	width: 75px;
	/* width: 12rem; */
	height:calc(100vh - 30px);
	position:fixed;
	right:0;
	top:30px;
	z-index:99;
}

#right-menu .button{
	display:block;
}

#keyboard_listener{
	width:20px;
	height:20px;
	background-color:gray;
	border-radius:100%;	
	top:0.75rem;
	right:0.75rem;
}
#keyboard_listener.on{
	background-color:lime;
}
#keyboard_listener.off{
	background-color:red;
}

#zoom-level{
	overflow: hidden;
    text-overflow: ellipsis;
}

#zoomin, #zoomout{
	height: 30px;
	width: 75px;
}
#nav{
	display:inline-flex;
	justify-content:space-between;
	padding-left:24px;
	padding-right:24px;
	position:fixed;
	height:30px;
	top:0;
	left:0;
	width:100vw;
	z-index:99;
	font-size:18px;
}
#nav > span{
	width:130px;
	align-self: center;
}

#map{
	position:absolute;
	left:0;
	padding:8rem;
	background-image: url(../img/gui/prado3.png);
	background-position: 50%;
	background-size: 144rem;
	display:inline-block;
	opacity:0.9;
	z-index:1;
}
#map .row{
	display: flex;
	width:fit-content;
}

#map .row .cell{
	width:2.25rem;
	height:2.25rem;
	opacity:0
}
#circle{
	position:absolute;
	width:3rem;
	height:3rem;
	/* background-color:transparent; */
	background-color:ffcc00ab;
	border-radius:100%;
	border:2px solid yellow;
	z-index:3;
}
#dummy_circle{
	position:absolute;
	width:2rem;
	height:2rem;
	background-color:transparent;
	/* background:radial-gradient(#e66465, #9198e5); */
	border-radius:100%;
	border:1px solid pink;
	z-index:4;
}


.safe {
	background-color: #00157b;
    box-shadow: inset 0 0 5px 1px #0029f2;
}
.burn {
	background-color: #dfda3b;
    box-shadow: inset 0 0 5px 2px #fff700;
}
.subway {
	background-color: #741e84;
    box-shadow: inset 0 0 5px 2px #2303297d;
}
.police_station {
	background-color: #841e1e;
	box-shadow: inset 0 0 5px 2px #ff10106e;
}
.free {
	background-color: #414141;
    box-shadow: inset 0 0 5px 2px #1616167d;
}
.occuped {
	background-color: #007b00;
	box-shadow: inset 0 0 5px 1px #2af200;
}
.scan{
	background-color:red;
	opacity:0.75!important;
}
/* .safe { */
	/* background-color:blue; */
/* } */

#dude{
	background-image: url(../img/heavy.png);
	background-position: center 10%;
	background-size: cover;
	height:2rem;
	width: 2rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index:2;
}

.dummy_1, .dummy_2, .dummy_3, .dummy_4, .dummy_5{
	background-position: 100% center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 2rem;
	width: 2rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index:1;
}
.dummy_1.up{background-image: url(../img/dummies/alone1B.png);}
.dummy_1.down{background-image: url(../img/dummies/alone1.png);}
.dummy_1.left{background-image: url(../img/dummies/alone1L.png);}
.dummy_1.right{background-image: url(../img/dummies/alone1R.png);}


.dummy_2.up{background-image: url(../img/dummies/alone2B.png);}
.dummy_2.down{background-image: url(../img/dummies/alone2.png);}
.dummy_2.left{background-image: url(../img/dummies/alone2L.png);}
.dummy_2.right{background-image: url(../img/dummies/alone2R.png);}


.dummy_3.up{background-image: url(../img/dummies/alone3B.png);}
.dummy_3.down{background-image: url(../img/dummies/alone3.png);}
.dummy_3.left{background-image: url(../img/dummies/alone3L.png);}
.dummy_3.right{background-image: url(../img/dummies/alone3R.png);}


.dummy_4.up{background-image: url(../img/dummies/alone4B.png);}
.dummy_4.down{background-image: url(../img/dummies/alone4.png);}
.dummy_4.left{background-image: url(../img/dummies/alone4L.png);}
.dummy_4.right{background-image: url(../img/dummies/alone4R.png);}


.dummy_5.up{background-image: url(../img/dummies/alone5B.png);}
.dummy_5.down{background-image: url(../img/dummies/alone5.png);}
.dummy_5.left{background-image: url(../img/dummies/alone5L.png);}
.dummy_5.right{background-image: url(../img/dummies/alone5R.png);}


.police{
	background-image: url(../img/PoliceCar.png);
	background-position: center 10%;
	background-size: cover;
	height: 2.2rem;
	width: 2.2rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index:1;
	
}
.police_light_container{
	position:absolute;
	width:20rem;
	height:20rem;
	display:flex;
	flex-direction:column;
	justify-content: center;
	text-align:center;
	align-items:center;
	z-index:2;
}
.police_light{
	position:relative;
	width:2rem;
	height:2rem;
	animation: blink 2s infinite;
	animation-fill-mode: both;
	border-radius:100%;
	z-index:3;
}
.police_light.red{
	background-color: red;
	background: radial-gradient(transparent 0%, rgba(255, 0, 0, 0.2) 10%, rgba(255, 0, 0, 0.8) 40%, transparent 92%, transparent 100%);
}
.police_light.blue{
	background-color: blue;
	background: radial-gradient(transparent 0%, rgba(0, 0, 255, 0.2) 10%, rgba(0, 0, 255, 0.8) 40%, transparent 92%, transparent 100%);
}

.police.up{
	background-image: url(../img/polis/urbanaUp.png);
}
.police.down{
	background-image: url(../img/polis/urbanaDown.png);
}
.police.left{
	background-image: url(../img/polis/urbanaLeft.png);
}
.police.right{
	background-image: url(../img/polis/urbanaRight.png);
}

@keyframes blink{
	0%{opacity: 0;width:2rem;height:2rem;}
	
	10%{opacity: 0.5; width:6rem;height:6rem;}
	20%{opacity: 1;width:9rem;height:9rem;}	
	30%{opacity: 1;width:12rem;height:12rem;}
	40%{opacity: 0.5;width:16rem;height:16rem;}
	
	50%{opacity: 0;width:20rem;height:20rem;}
	
	60%{opacity: 0.5;width:16rem;height:16rem;}
	70%{opacity: 1;width:12rem;height:12rem;}
	80%{opacity: 1;width:9rem;height:9rem;}	
	90%{opacity: 0.5;width:6rem;height:6rem;}
	
	100%{opacity: 0;width:2rem;height:2rem;}
}

#sagrada{
	background-image: url(../img/edificios/sagradaObras.png);
	background-position: 0 0;
	background-size: cover;
	background-repeat: no-repeat;
	height: 8.5rem;
	width: 6em;
	position: absolute;
	left: 21.75rem;
	top: 40rem;
	z-index:98;
	
}
#sagrada.animate{
	animation: animation_sagrada 10s infinite;
	animation-timing-function:step-end;
}
@keyframes animation_sagrada{
	0%{background-position:1px 0}
	5%{background-position:-97px 0px;}
	10%{background-position:-195px 0px;}
	15%{background-position:-293px 0px;}
	20%{background-position:-391px 0px;}
	25%{background-position:-489px 0px;}
	30%{background-position:-587px 0px;}
	35%{background-position:-685px 0px;}
	40%{background-position:-783px 0px;}
	45%{background-position:-881px 0px;}
	50%{background-position:-979px 0px;}
	55%{background-position:-1077px 0px;}
	60%{background-position:-1175px 0px;}
	65%{background-position:-1273px 0px;}
	70%{background-position:-1371px 0px;}
	75%{background-position:-1469px 0px;}
	80%{background-position:1px 0px;}
	85%{background-position:1px 0px;}
	90%{background-position:1px 0px;}
	95%{background-position:1px 0px;}
	100%{background-position:1px 0px;}
}
